.MuiAvatar-root.MuiAvatar-circle.riderProfileDetails__avatar.MuiAvatar-colorDefault{
    position: relative;
    width: 80px;
    height: 80px;
    left: 80px;
}

.riderProfileDetails__name > h3{
  position: relative;
  left: 45px;
}

/* span{
  position: relative;
  left: 45px;
} */
.riderProfileDetails__phoneNumber{}
.riderProfileDetails__email{}
.riderProfileDetails__status{}
